body {
    font-family: "Pixelify Sans", sans-serif;
}

/* Media queries for different screen sizes */
@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
        margin: auto;
    }

    /* Hide navigation for smaller screens */
    .nav-phone{
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    
    /* Hide navigation for smaller screens */
    .nav-phone{
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    
    /* Hide navigation links in header */
    .header .nav {
        display: none;
    }

    /* Set background color for navbar */
    .navbar {
        background-color: #5B40C5;
    }
}

/* Define header area styles */
.header {
    display: flex;
    align-items: center;
    background-color: #5B40C5; /* Purple background color */
}

/* Styles for logo image in header */
.header img {
    margin-left: 3vw;
}

/* Styles for the heading */
.header h1 {
    margin-right: auto;
    margin-left: auto;
    color: #F9C91F; /* Yellow color */
}

/* Styles for the navigation menu */
.header ul {
    margin-right: 3vw;
    font-size: x-large;
}

/* Styles for navigation links */
.header a {
    color: #F9C91F; /* Yellow color */
}

/* Styles for hover effect on navigation links */
.header a:hover {
    color: aliceblue; /* Light blue color on hover */
}

.grid {
    margin: 2vw;
}

picture {
    display: flex;
    justify-content: center;
}

.control button {
    color:aliceblue;
    background-color: #5B40C5;
}

.control button:hover {
    color: #5B40C5;
    background-color: aliceblue;
}

/* Styles for primary custom buttons */
.btn-primary-custom {
    background-color: #5B40C5; /* Purple background color */
}

.card-footer {
    display: flex;
    justify-content: center;
}
